<div class="input-wrapper">
  <div class="input" #dropreference>
    <input #input
           placeholder={{placeholder}}
          [disabled]="disabled"
          [value]="inputValue"
          (click)="showDropdown()"
         (keydown)="onKeyDown($event)"
        (blur)="onTouched()"
        autocomplete="off">
    <span class="dropdown-arrow" (click)="onDropMenuIconClick($event)">
        <i class="fas fa-angle-down"></i>
    </span>
    <app-dropdown [reference]="dropreference" #dropdownComp>
      <div class="dropdown-options-container">
        <ng-content select="app-custom-select-option"></ng-content>
      </div>
    </app-dropdown>
  </div>
</div>
