<app-custom-select  placeholder="Pick Your Favourite Director" [(ngModel)]="director" (ngModelChange)="onOptionChange()">
    <app-custom-select-option [key]="item.key" [value]="item.value" *ngFor="let item of list | filter : director : ['value']">
    </app-custom-select-option>
    <app-custom-select-option [key]="7" [value]="director" *ngIf="(list | filter : director : ['value']).length === 0">
      <span class="badge">new</span>
    </app-custom-select-option>
</app-custom-select>
<router-outlet></router-outlet>
